* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  font-size: 14px;
  min-height: 100vh;
  width: 100%;
  background: linear-gradient(45, 78, 67, 34);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  padding-top: 100px; 
}

nav {
  position: fixed; 
  width: 100%;
  height: 100px;
  top: 0;
  background-color: black; 
  color: white;
  justify-content: space-between;
  padding: 0px 80px;
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 1000; 
}

.logo{
  font-family: sans-serif;
  font-size: 2.5em;
}

.logo span{
  color:red;
}

.menu a{
  text-decoration: none;
  color:whitesmoke;
  padding:10px 15px;
  font-family: sans-serif;
  font-size: 22px;
}

.menu a:first-child{
  color:red;
}

.menu a:hover{
  color:red;
}

.icon i{
  font-size: 30px;
}

.icon i:hover{
  color:red;
}

.icon a{
  text-decoration: none;
  background:red;
  color:white;
  font-size: 22px;
  font-weight: 700;
  padding :10px 20px;
  margin-left: 30px;
  border-radius: 5px;
}

.gallery {
  width: 90%;
  margin-top: 50px; 
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-gap: 2em;
}


.card, .card-body, .footer{
  display:flex;
  flex-direction:column;
  align-items: center;
}
.card{
  border-radius:18px;
  background: whitesmoke;
  box-shadow: 4px 4px 25px rgba(0, 0, 0, 0.4);
  overflow:hidden;
  cursor: pointer;
  transition:transform 0.4s ;
}
.card:hover{
  transform:scale(1.05);
  box-shadow:4px 4px 25px rgba(0, 0, 0, 0.2) ;
}
.image{
  display:block;
  position: relative;
  height:180px;
  max-width:100%;
}
.image img{
  max-height:100%;
  width:300px;
  background-size:cover;
}
.card-body{
  padding:20px 28px ;
}
.card-body .date{
  font-weight: bolder;
}
.card-body h2{
  font-size: 1.6em;
  margin:2px auto 12px;
}
.card-body p{
  color:gray;
  text-align: justify;
  font-size: 1.1em;
  line-height:22px;
}
.footer{
  width:100%;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.footer .info{
  font-size:0.9 em;
  padding:10px;
  font-weight: bold;
  display:flex;
  color: white;
  align-items:center;
  flex-direction:column;
  border-right:1px solid rgba(0, 0, 0, 0.1) ;
}
.footer .info .type{
  border: none;
}
.footer .info .type{
  margin-top: 2px;
  font-size: 0.9em;
}
.card:nth-child(1) .footer, .card:nth-child(2) .footer, .card:nth-child(3) .footer, .card:nth-child(4) .footer, .card:nth-child(5) .footer, .card:nth-child(6) .footer, .card:nth-child(7) .footer, .card:nth-child(8) .footer, .card:nth-child(9) .footer, .card:nth-child(10) .footer, .card:nth-child(11) .footer, .card:nth-child(12) .footer, .card:nth-child(13) .footer, .card:nth-child(14) .footer, .card:nth-child(15) .footer, .card:nth-child(16) .footer, .card:nth-child(17) .footer, .card:nth-child(18) .footer, .card:nth-child(19) .footer, .card:nth-child(20) .footer{
  background:red;
}
.card:nth-child(1) .date, .card:nth-child(2) .date, .card:nth-child(3) .date, .card:nth-child(4) .date, .card:nth-child(5) .date, .card:nth-child(6) .date, .card:nth-child(7) .date, .card:nth-child(8) .date, .card:nth-child(9) .date, .card:nth-child(10) .date, .card:nth-child(11) .date, .card:nth-child(12) .date,.card:nth-child(13) .date, .card:nth-child(14) .date, .card:nth-child(15) .date, .card:nth-child(16) .date, .card:nth-child(17) .date, .card:nth-child(18) .date, .card:nth-child(19) .date, .card:nth-child(20) .date{
  color:tomato;
}



